{% extends "dashboard/base.html" %}
{% block title %}A propos{% endblock title %}

<!-- Soon this project will be reshape in CWP (Cipher Wyrm Privacy -->


{% block content %}  

{# À propos section #} 

<div class="mt-5 py-2 p-3  ">
        <h1 class="border-bottom" style="max-width: 30%">À propos</h1>
        <p class="py-2">Hacktool Box est un outil web-graphique visant à faciliter l'utilisation des programmes de pentest les plus courant. Le github associé à ce projet se trouve au lien suivant : <a href="https://github.com/Andaris777/Hack_Toolbox-project">github_hack_toolbox</a>
        </p>
</div>



{% endblock content %}
