{% extends "dashboard/base.html" %}
{% block title %}Hack tools{% endblock title %}


{% block content %}
<div>
    <div class="mt-5 text-center ">
        <main class="inner cover" role="main">
            <h1 class="cover-heading "> Hack Toolbox </h1>
        </main>
    </div>
    <div class="mt-5 text-center ">
        <h2> Bienvenue dans l'outils Hack Toolbox </h2>
        <p class="py-2"> Cette interface a été développée dans le but de faciliter l'utilisation des outils les plus courants dans le domaine du pentesting</p>
    </div>
</div>



{% endblock content %}
