{% extends "dashboard/base.html" %}
{% block title %}Nmap script{% endblock title %}

{% block content %}  

<form method="post" class="form-group text-left">
	
	<div class="mt-5 py-2">
	<h1>Type de scan</h1>
<! --	<input type=“text“ name=“param“>
	{{type_scan}}
	{{type_scan_val}}
	</div>
	
	<div class="mt-5 py-2">
	<h1>Arguments supplémentaires</h1>
	{{arguments}}
	{# display argument choosen after lauching the script #}
	{% if arguments_val %}
	{% for arguments_val in arguments_val|safeseq %}
   	{{ arguments_val }}
	{% endfor %}
	{% endif %}
	</div>
	
	<div class="mt-5 py-2" style="max-width: 30%">
	<h1>Adresse IP de la cible</h1>
	{{ip_cible}}
	{{ip_cible_val}}
	</div>
	
	<div class="mt-5 py-2">
	{% csrf_token %}
	<button type="submit" name="run_script" class="btn btn-primary btn-lg">Run script</button>
	</div>
	
	<div class="mt-5 py-2">
	<h1>Retour du terminal</h1>
	<h2 class="mt-5">Résultat scan des ports</h2>
	<div class="mt-5 py-2">
	{% if data %}
	<div><pre>{{data | pprint}}</pre></div>
	{% endif %}
	</div>
	</div>

</form>


{% endblock content %}

