{% extends "dashboard/base.html" %}
{% block title %}Python button script{% endblock title %}

{% block content %}  

<form method="post" class="form-group text-left">
	
	<div class="mt-5 py-2">
	<h1>Input Text</h1>
	<div class="py-2">
<! --	<input type=“text“ name=“param“>
	{{form}}
	</div>
	</div>
	
	<div class="mt-5 py-2">
	{% csrf_token %}
	<button type="submit" name="run_script" class="btn btn-primary btn-lg">Run script</button>
	</div>
	
	<div class="mt-5 py-2">
	<h1>The answer</h1>
	<div class="py-2">{{data}}</div>
	</div>

</form>


{% endblock content %}

